extends ../index

block head-ext
  title Update Password
  style
    include ../styles/account.css

block content
  .account-container
    h1 Change Your Password
    
    form.update-form(action="/account/update-password" method="POST")
      label(for="current_password") Current Password:
      input#current_password(
        type="password" 
        name="current_password"
        required
      )

      label(for="new_password") New Password:
      input#new_password(
        type="password" 
        name="new_password"
        required
      )

      label(for="confirm_password") Confirm New Password:
      input#confirm_password(
        type="password" 
        name="confirm_password"
        required
      )

      .button-group
        button.btn-submit(type="submit") Update Password
        a.btn-cancel(href="/account") Back to Account

      if error
        .error-message= error
      if successMessage
        .success-message= successMessage