extends index

block head-ext
  title Login or Create Account
  style
    include styles/account.css

block content
  if user
    .account-container
      h1 Hello, #{user.first_name}!
      // Address Management Form
      .address-management
        h2 Manage Your Address
        form(action="/address" method="POST")
          label(for="city") City: #{user.street_name}
          input#address1(type="text" name="city" value=user.address1 placeholder="Enter your address" required)
    
          label(for="streetName") Street Name:
          input#city(type="text" name="streetName" value=user.city placeholder="Enter your city" required)

          label(for="buildingName") Building Name:
          input#state(type="text" name="buildingName" value=user.state placeholder="Enter your state" required)

          label(for="floorNumber") Floor Number
          input#zip(type="number" name="floorNumber" value=user.zip placeholder="Enter your Floor code" required)

          label(for="zipcode") Zip:
          input#address2(type="text" name="zipcode" value=user.address2 placeholder="Apartment, suite, unit, etc.")

          label(for="details") Details:
          input#country(type="text" name="details" value=user.country placeholder="Enter your country" required)

          // Submit Button
          button.btn-submit(type="submit") Save Address
      ul 
        li
          a(href="/logout") Logout

  else
    .form-container
      div
        h2 Login

        //- Login Form
        form#login-form(action="/login" method="POST")
          label Email:
          input(type="text" name="email" required placeholder="Enter your email")
          br
          label Password:
          input(type="password" name="password" required placeholder="Enter your password")
          br
          br
          button(type="submit") Login
          br


      div
        h2 Create Account

        //- Create Account Form
        form#register-form(action="/create-account" method="POST")
          label First Name:
          input(type="text" name="first_name" required placeholder="Enter your first name")
          br
          label Last Name:
          input(type="text" name="last_name" required placeholder="Enter your last name")
          br
          label Email:
          input(type="email" name="email" required placeholder="Enter your email")
          br
          label Phone Number:
          input(type="text" name="phone_number" required placeholder="Enter your phone number")
          br
          label Password:
          input(type="password" name="password" required placeholder="Enter your password")
          br
          br
          button(type="submit") Create Account

    if error
      p.error-message= error