extends index

block head-ext
  style
    include styles/book.css

block content
  section#book-details
    .book-container
      .book-image
        if book.cover_image_url
          img(src=book.cover_image_url, alt=book.title)
        else
          img(src="/images/default-book.png", alt="Default book cover")
      .book-info
        h1= book.title
        p.author Author: #{book.author}
        p.category Category: #{book.genre}
        p.price $#{book.price}
        p.description= book.description
        if user
          if book.stock > 0
            form(action="/cart/add" method="POST" style="display: inline")
              input(type="hidden" name="book_id" value=book.book_id)
              button.btn-add-cart Add to Cart
          else
            button.btn-out-stock(disabled) Out of Stock
        a.btn-back(href="javascript:history.back()") Back to List

    .reviews-section
      h2 Customer Reviews
      if reviews && reviews.length > 0
        .reviews-container
          each review in reviews
            .review-card
              .review-header
                .reviewer-info
                  span.customer_name= review.reviewer_name
                  span.review-date= new Date(review.review_date).toLocaleDateString()
                .rating
                  - var stars = review.rating
                  while stars > 0
                    span.star ★
                    - stars--  
              .review-content
                p= review.review_text
      else
        p.no-reviews No reviews yet for this book.

      h3 Add Your Review
      if user
        form(action=`/book/${book.book_id}/review` method="POST")
          input(type="hidden" name="customer_id" value=user.customer_id)
          div
            label(for="rating") Rating:
            select(name="rating" required)
              option(value="1") 1
              option(value="2") 2
              option(value="3") 3
              option(value="4") 4
              option(value="5") 5
          div
            label(for="review_text") Your Review:
            textarea(name="review_text" placeholder="Write your review here..." required)
          button.btn-submit(type="submit") Submit Review
      else
        p.login-reminder Please log in to submit a review.
