extends index

block head-ext
  style
    include styles/book.css

block content
  section#book-details
    .book-container
      .book-image
        if book.cover_image_url
          img(src=book.cover_image_url, alt=book.title)
        else
          img(src="/images/default-book.png", alt="Default book cover")
      .book-info
        h1= book.title
        p.author Author: #{book.author}
        p.category Category: #{book.genre}
        p.price $#{book.price}
        p.description= book.description
        if user
          if book.stock > 0
              form(action="/cart/add" method="POST" style="display: inline")
                input(type="hidden" name="book_id" value=book.book_id)
                button.btn-add-cart Add to Cart
          else
            button.btn-out-stock(disabled) Out of Stock
        a.btn-back(href="javascript:history.back()") Back to List

    .reviews-section
      h2 Customer Reviews
      if reviews && reviews.length > 0
        .reviews-container
          each review in reviews
            .review-card
              .review-header
                .reviewer-info
                  span.customer_name= review.reviewer_name
                  span.review-date= new Date(review.review_date).toLocaleDateString()
                .rating
                  - var stars = review.rating
                  while stars > 0
                    span.star ★
                    - stars--
              .review-content
                p= review.review_text
      else
        p.no-reviews No reviews yet for this book.