extends index

block head-ext
  style
    include styles/checkout.css

block content
  .checkout-container
    h1 Checkout

    // Small Cart Details Section
    .cart-summary
      //- h2 Cart Summary
      ul
        each item in cart.items
          li.cart-item
            .item-details
              span.item-name= item.title
              span.item-quantity x #{item.quantity}
              span.item-subtotal $#{(item.price * item.quantity).toFixed(2)}
      .cart-total
        h3 Total: $#{cart.items.reduce((total, item) => total + (item.price * item.quantity), 0).toFixed(2)}

    form(action="/checkout/order" method="POST")
      // Personal Details Section
      .form-section
        h2 Personal Details
        label(for="name") Name:
        input#name(type="text" name="name" placeholder="Enter your name" required value=`${user.first_name} ${user.last_name}` disabled="disabled")
        label(for="email") Email:
        input#email(type="email" name="email" placeholder="Enter your email" required value=user.email disabled="disabled")

      // Address Section
      .form-section
        h2 Shipping Address
        label(for="city") City:
        input#city(type="text" name="city" placeholder="Enter your city" required value=cart.address.city)

        label(for="street_name") Street Name:
        input#street(type="text" name="street_name" placeholder="Enter your street name" required value=cart.address.street_name)

        label(for="building_name") Building Name:
        input#building(type="text" name="building_name" placeholder="Enter your building name" required value=cart.address.building_name)

        label(for="floor_number") Floor Number:
        input#floor(type="text" name="floor_number" placeholder="Enter your floor number" required value=cart.address.floor_number)

        label(for="zipcode") ZIP Code:
        input#zip(type="text" name="zipcode" placeholder="Enter your ZIP code" required value=cart.address.zipcode)

        label(for="details") Details:
        input#details(type="text" name="details" placeholder="Enter additional details, if any" value=cart.address.details)

      // Payment Options Section
      .form-section
        h2 Payment Options
        label
          input(type="radio" name="payment_method" value="Cash on Delivery" required)
          | Cash
        label
          input(type="radio" name="payment_method" value="Card" required)
          | Card
        label
          input(type="radio" name="payment_method" value="Gift Card" required)
          | Gift Card

      // Submit Button
      button.btn-submit(type="submit") Place Order

    // Optional: Back to Cart Button
    a.btn-back(href="/cart") Back to Cart
