extends index

block head-ext
  style
    include styles/checkout.css

block content
  .checkout-container
    h1 Thank You for Your Order!

    h3 Order Summary:
    p Order Number: Order #{orderId}
    p Date and Time of Order: Placed on #{orderDate}

    - const details = shippingDetails || {};
    h3 Shipping Details:
    p City: #{details.city || "undefined"}
    p Street Name: #{details.street_name || "undefined"}
    p Building Name: #{details.building_name || "undefined"}
    p Floor Number: #{details.floor_number || "undefined"}
    p ZIP Code: #{details.zipcode || "undefined"}
    p Payment Method: #{details.payment_method || "undefined"}

    h3 Order Items:
    ul
      each item in cartItems
        li
          p= item.quantity + ' x ' + item.title + ' - $' + (item.price * item.quantity).toFixed(2)

    h3 Total Amount:
    p Total: #{totalAmount.toFixed(2)}

    p Thank you for shopping with us! We will process your order shortly.
