extends index

block head-ext
    style
        include styles/searchResults.css

block content
    .search-results
        .search-header
            h2 Search Results for "#{searchQuery}"
        
        if books.length > 0
            .books-grid
                each book in books
                    .book-card
                        .book-image
                            if book.cover_image_url
                                img(src=book.cover_image_url alt=book.title)
                            else
                                img(src="/images/default-book.png", alt="Default book cover")
                        .book-info
                            h3= book.title
                            p.author 
                                i.bx.bxs-user
                                span= book.author
                            p.genre
                                i.bx.bxs-book
                                span= book.genre
                            p.price 
                                i.bx.bx-dollar
                                span $#{book.price}
                            button.btn-details(onclick=`window.location.href='/book/${book.book_id}'`) View Details
                            if book.stock > 0
                                button.add-to-cart(data-book-id=book.book_id)
                                    i.bx.bx-cart-add
                                    span Add to Cart
                            else
                                button.out-of-stock(disabled)
                                    i.bx.bx-x
                                    span Out of Stock
        else
            .no-results
                i.bx.bx-search-alt
                p No books found matching "#{searchQuery}"
                a.return-home(href="/") 
                    i.bx.bx-home
                    span Return to Home